body{
    color: yellowgreen;
}

p{
    font-style: italic;
    color: green;
}
h1{
    text-align: center;
    color: blue;
}
.RedText{
    color: red;
    }
    .blueText{
        color: blue;
    }
.large{
    font-size: xx-large;
}
#big{
    font-size: x-large;
}
#center{
    text-align: center;
}
#right{
    text-align:right
}
    